<!-- templates/base.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>GIF Search</title>
</head>

<!--header-->
<div class="header">
    <h3><a href="{{ url_for('index') }}"> Search and Display Gifs Now </a></h3>
</div>

<form action="/", method="get">
    <h4>Search for gif in Search Box</h4>
    <input id="query" autofocus name="q" placeholder="Search Here" type="text">
    <input type="submit" name="action" value="Search">
        <div>
            <!--Quick buttons-->
            <a href=/trending><input type="button" value="Trending"></a>
            <!--Front page is already randomized so hit refresh-->
            <!--<a href=/random><input type="button" value="Random"></a>-->
        </div>
</form>

<body id="thebody">
    <div id="title_block">{% block title %}{% endblock %}</div>
    <div class = "body_container">
        {% block body %}
        {% endblock %}
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>
</body>



</html>