{% extends 'base.html' %}

{% block header %}
<form action="/" method="get">
    <p>Search for gif in Search Box</p>
    <input autofocus name="user_search" placeholder="Query" type="text">
    <input type="submit" value="Search">
</form>
{% endblock %}

{% block body %}
<p>Did you want to search for {{ user_search }}</p>
{% endblock %}


<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->

<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string. The form should have a target of '/' to
    send us to the same route. -->

<!-- TODO: Make a for loop to loop over GIFs passed in from the server -->

<!-- TODO: For each gif, include the 'gif.html' template to display it -->
